#side-col {
  height: 260px;
  width: 260px;
  background-color: #fcd200;
  margin-left: 100px;
  font-weight: lighter;
  font-family: monospace;
  color: white;
  font-size: 17pt;
  border: 10px solid rgba(237, 36, 11, 0.71);
  border-radius: 10px;

}

.box {
  margin-left: 20px;
  margin-top: 60px;
}

a {
  color: #81cfe7;
  font-weight: bolder;
}

#header-col {
  height: 260px;
  width: 680px;
  border: 10px solid #81cfe7;
  border-radius: 10px;
  background-color: white;
}

img {
  height: 240px;
  margin-left: 120px;
}

#body-col {
  width: 940px;
  height: 1098px;
  background-color: rgba(237, 36, 11, 0.71);
  font-weight: lighter;
  font-family: monospace;
  color: white;
  font-size: 16pt;
  display: block;
  margin: auto;
  text-align: center;
  margin-left: 100px;
  border: 10px solid white;
  border-radius: 10px;
}

h4 {
  font-size: 19pt;
  background-color: #81cfe7;
  border: 10px solid white;
  border-radius: 10px;
  margin-left: 125px;
  margin-right: 125px;
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
background-color: rgba(253, 217, 0, 0.34);
}

#btn {
  width: 260px;
  background-color: #81cfe7;
  color: white;
  font-weight: lighter;
  border: 10px solid white;
  font-size: 14pt;
  border-radius: 10px;
}

#number1 {
  width: 260px;
  color: rgba(237, 36, 11, 0.71);
  text-align: center;
}
